<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.ideasftw.bing-wallpaper</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/bash</string>
			<string>/Users/claire/Projects/bing-wallpaper/bing-wallpaper.sh</string>
		</array>
		<key>LowPriorityIO</key>
		<true/>
		<key>Nice</key>
		<integer>1</integer>
		<!-- Run every 3 hours (60*60*3) -->
		<key>StartInterval</key>
    	<integer>10800</integer>
		<key>RunAtLoad</key>
	    <true/>
    </dict>
</plist>